services:
  api:
    build: .
    container_name: task-tracker-api
    ports:
      - "8000:8000"
    environment:
      MONGO_URL: "mongodb://mongo:27017"
      MONGO_DB_NAME: "tasktracker"
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: task-tracker-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
